/*全局样式表*/
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1300px;
}
.el-breadcrumb{
    font-size: 12px;
}
.el-breadcrumb{
    margin-bottom: 15px;
}
.el-table{
    margin-top: 15px;
    font-size: 12px;
}



/* 添加表达验证通过或失败，文本框变色样式 */
.el-form-item.is-success .el-input__inner, 
.el-form-item.is-success .el-input__inner:focus, 
.el-form-item.is-success .el-textarea__inner, 
.el-form-item.is-success .el-textarea__inner:focus 
{ 
    border-color:#67C23A 
} 
.el-form-item.is-success .el-input-group__append .el-input__inner, 
.el-form-item.is-success .el-input-group__prepend .el-input__inner 
{ 
    border-color:transparent 
} 
.el-form-item.is-success .el-input__validateIcon { 
    color:#67C23A 
}